---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat())
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle="{tag}">
    <main>
        <h1 class="page-title-wrapper">
          Posts tagged with <span class="highlight">{tag}</span>
        </h1>

        {
          posts.map((post) => (              
            <div class="blog-post-container">
                <a href={`/Blog/blog/${post.slug}/`}>
                  <h3>{post.data.title}</h3>
                  <p>{post.data.description}</p>
                  <div class="blog-meta-container">
                    <p class="blog-meta">
                        <FormattedDate date={post.data.pubDate} />
                    </p>
                    {
                      post.data.tags.map((tag) => (
                          <p class="blog-meta">{tag}</p>
                      ))
                    }
                  </div>
                </a>         
            </div>             
          ))
      }
    </main>
</BaseLayout>

