---
import { getCollection } from "astro:content"
import FormattedDate from "./FormattedDate.astro";

const allPosts = await getCollection('blog');
---
{
    allPosts.map((post) => (       
        <a href={`/Blog/blog/${post.slug}/`}>
            <div class="blog-post-container">
                <div class="blog-meta-container">
                    <p class="blog-meta">
                        <FormattedDate date={post.data.pubDate} />
                    </p>
                    <p class="blog-meta">{post.data.author}</p>
                </div>
                <p class="blog-meta">{post.data.tags}</p>
                <h3>{post.data.title}</h3>               
            </div>           
        </a>
    ))
}